/* Newsreader font */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,600;0,6..72,800;1,6..72,400&display=swap');

* {
  font-family:'Newsreader', serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 17px;
}

a {
  color: #000000;
}

img {
  width:45em;
}

header {
  margin: 50px;
  margin-bottom: 150px;
  display:flex;
  flex-direction: row;
}

header a {
  text-decoration: none;
}

header h1 {
  display:flex;
}

.subtitle {
  margin-left:15px;
  margin-top:10px;
  border-bottom:5px solid #B2DBF5;
  width:2.5em;
  display:flex;
  max-height:1.25em;
}

.pages {
  width:45%;
  margin: auto;
  margin-top:50px;
  margin-bottom:165px;
  text-decoration: underline;
}

.previous {
  float:left;
}

.next {
  float:right;
}

.page a:hover {
  color:#B2DBF5;
}

.page {
  display: flex;
  flex-direction: column;
  position:relative;
}

.cover-content {
  width: 45%;
  margin: auto;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-pages {
  margin:auto;
  width:45%;
}

.indent {
  text-indent: 30px;
  margin:auto;
  margin-bottom:50px;
  position:relative;
}

.indent p {
  line-height: 1.5;
}

.nonindent {
  text-indent:0px;
}

.content-bio {
  margin: auto;
  line-height:2;
}

.title {
  display:flex;
  margin-bottom:25px;
}

.bio {
  line-height:1.2;
}

.photo {
  margin: auto;
  margin-bottom: 50px;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

audio {
  margin: auto;
  margin-bottom: 20px;
  display:block;
  border:3px solid #ffb36b;
  border-radius: 30px;
}

.lyrics {
  line-height:1.2;
  margin-bottom:50px;
}

li {
  margin-left:50px;
  text-indent: 0px;
  line-height:1.5;
}

.indent a {
  text-decoration: none;
}

.stars {
  width:2em;
  height:2em;
  margin-left:7px;
  margin-right:3px;
}

.hearts {
  width:1.75em;
  height:1.75em;
}

.laundry {
  position: fixed;
  width: 25em;
  bottom: 0px;
  z-index: -1;
}

.pr {
  display:flex;
  flex-direction: row;
}

.grid img {
  display:flex;
  width:15em;
  margin:1em 2.5em 1em 0em;
}

.rightshift img {
  margin-left:2.5em;
  margin-right:0em;
}

.grid p {
  display:flex;
  width:30%;
  margin:auto;
  text-align: center;
}

.priya-paragraph {
  display:flex;
  flex-direction: column;
  margin:auto;
  width:17.5em;
}

/*mobile*/
@media only screen and (max-width:399px) {
  header {
    margin: 35px;
    margin-top:40px;
    margin-bottom:60px;
  }
  header h1 {
    width:7em;
    font-size:26px;
  }
  .subtitle {
    width:2.5em;
  }
  img {
    width:20em;
  }
  .content-bio {
    font-size:15px;
  }
  .pages {
    font-size:15px;
  }
  .title-pages {
    width:80%;
  }
  .page {
    margin:auto;
    width:100;
  }
  .title h2 {
    font-size:22px;
  }
  .laundry {
    width:60%;
  }
  .grid img {
    display:flex;
    width:10em;
    margin:1em 1.5em 1em 0em;
  }
  .rightshift img {
    margin-left:1.5em;
    margin-right:0em;
  }
  .priya-paragraph p {
    font-size:12px;
    line-height:1.2;
    width:100%;
  }
}

@media only screen and (min-width:400px) and (max-width:600px) {
  header {
    margin: 40px;
    margin-bottom:60px;
  }
  header h1 {
    width:7em;
    font-size:29px;
  }
  img {
    width:22em;
  }
  .content-bio {
    font-size:15px;
  }
  .pages {
    font-size:15px;
  }
  .title-pages {
    width:80%;
  }
  .page {
    margin:auto;
    width:100;
  }
  .title h2 {
    font-size:22px;
  }
  .laundry {
    width:60%;
  }
  .grid img {
    display:flex;
    width:11em;
    margin:1em 1.5em 1em 0em;
  }
  .rightshift img {
    margin-left:1.5em;
    margin-right:0em;
  }
  .priya-paragraph p {
    font-size:12px;
    line-height:1.2;
    width:100%;
  }
}

@media only screen and (min-width:601px) and (max-width:900px) {
  .title-pages {
    width:65%;
  }
  img {
    width:35em;
  }
  .laundry {
    width:40%;
  }
}
